:root {
    --primary-color: #2a3eb1;
    --primary-color-hover: #3c4eb3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    max-width: 100vw;
    height: 100vh;

    display: flex;
}

canvas {
    height: 100%;
    aspect-ratio: 16/9;
}

section {
    flex: 1;
    background-color: var(--primary-color);
    color: #fff;
}

section #rank-persons {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 1em;
    overflow-y: auto;
    max-height: 100%;
    font-size: .9em;
}

#rank-persons .p-name {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#rank-persons div {
    cursor: pointer;
}

#rank-persons span {
    padding-block: 0.3em;
    padding-inline: .5em;
}

#rank-persons span:nth-child(1) {
    border-radius: 1em 0 0 1em;
}

#rank-persons span:nth-child(3) {
    border-radius: 0 1em 1em 0;
}

#rank-persons div:hover span {
    background: var(--primary-color-hover);
}



/* 
#container {
    flex: 1;
    overflow: hidden;
}

nav {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    width: 230px;
    padding-right: 1em;
}

ul, li, button {
    width: 100%;
}

nav .infos {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    border-bottom: 1px transparent solid;
}

nav .infos:hover {
    border-bottom: 1px white solid;
}

nav .infos p {
    color: #fff;
}


nav .infos div.name {
    flex: 1;
    text-align: start;
    margin-inline: .5em;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

nav .infos p.position {
    width: 2em;
    text-align: end;
}

nav ul li {
    cursor: pointer;
    padding: 0.5em;
}

#container {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #2C4C7C;
} */